body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #df972b;
    color: rgb(5, 4, 4);
    padding: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-button {
    background-color: #f5f4f9;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
    .nav-button {
        font-size: 10px;
        padding: 4px 8px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 480px) {
    .nav-button {
        font-size: 8px;
        padding: 2px 4px;
        margin-right: 1px;
    }
}

@media screen and (max-width: 360px) {
    .nav-button {
        font-size: 6px;
        padding: 2px 3px;
        margin-right: 1px;
    }
}

@media screen and (max-width: 320px) {
    .nav-button {
        font-size: 5px;
        padding: 1px 2px;
        margin-right: 1px;
    }
}

@media screen and (max-width: 280px) {
    .nav-button {
        font-size: 4px;
        padding: 1px 2px;
        margin-right: 1px;
    }
}

.nav-button:hover {
    background-color: #45a049;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 3px;
}

#contact-info {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    #contact-info {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    #contact-info {
        font-size: 10px;
    }
}

#destaque {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#destaque img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#destaque h1 {
    text-align: center;
    color: #333;
}

#destaque p {
    text-align: center;
    color: #666;
}

.dica {
    margin-top: 10px;
}

.dica img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.dica h2 {
    color: #333;
}

.dica h3 {
    color: #ff6600;
}

.noticia {
    margin-top: 20px;
}

.noticia h3 {
    color: #333;
}

.noticia p {
    color: #666;
}

#destaque,
#sobre,
#servicos,
#produtos,
#depoimentos,
#blog,
#contato {
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 20px;
}

#logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo img {
    width: 100px;
    margin-right: 10px;
    border: none;
    outline: none;
}

#sobre {
    padding: 40px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

#sobre h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#sobre p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

footer {
    background-color: #df972b;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

footer nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    margin-right: 20px;
}

#social-media a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

#contato {
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #df972b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#destaque {
    text-align: center;
}

#destaque img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    padding: 40px 20px;
}

.service-category {
    width: 300px;
    margin: 10px;
    text-align: center;
    background-color: #df972b;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
    list-style-type: none !important;
}

.service-category:hover {
    transform: translateY(-5px);
}

.service-category img {
    max-width: 100%;
    height: 250px;
    border-radius: 5px;
    border: 2px solid black;
}

.service-category h3 {
    margin-top: 5px;
}

.service-category p {
    margin-top: 5px;
}

.service-category .buy-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.service-category .buy-button:hover {
    background-color: #df972b;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    padding: 40px 20px;
}

.product {
    width: 200px;
    height: 370px;
    margin: 20px;
    border: 2px solid #000000;
    text-align: center;
    background-color: #df972b;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: translateY(-5px);
}

.content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 240px;
}

.content-img img {
    width: 95%;
    border-radius: 5px;
    border: 2px solid black;
}

.content-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
}

.content-name p {
    padding: 5px;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

.buy-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #df972b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

#produtos h2 {
    text-align: center;
    width: 100%;
}

#produtos .product {
    width: 270px;
}

#depoimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    background-color: #f3f3f2;
    border-radius: 10px;
    text-align: center;
}

#depoimentos .testimonial {
    width: 300px;
    margin: 10px;
}

.client-photo {
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.comment-bubble {
    background-color: #df972b;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 20px 0;
}

.comment-bubble:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #ffffff;
    border-bottom: 10px solid transparent;
}

.client-comment {
    color: #333;
    font-size: 16px;
    margin-top: 10px;
}

.client-name {
    font-weight: bold;
    margin-top: 15px;
}

.footer-link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover {
    color: #292e29;
}

#itens-carrinho li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

#carrinho {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

#carrinho h2 {
    margin-bottom: 20px;
    text-align: center;
}

#itens-carrinho {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 10px;
}

.cart-item img {
    width: 80px;
    margin-right: 20px;
}

.cart-item-name {
    flex: 1;
}

.cart-item-price {
    margin-left: 20px;
    font-weight: bold;
}

.total {
    margin-top: 20px;
    text-align: right;
}

.checkout-btn {
    display: block;
    margin-top: 20px;
    background-color: #df972b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #45a049;
}